<mat-toolbar class="nav">
  <a class="brand" routerLink="/movies">Cody's <span>Flix</span></a>
  <span class="spacer"></span>
  <a mat-button routerLink="/movies" routerLinkActive="active">
    <mat-icon>local_movies</mat-icon><span class="label">Movies</span>
  </a>
  <a mat-button routerLink="/profile" routerLinkActive="active">
    <mat-icon>person_outline</mat-icon><span class="label">Profile</span>
  </a>
  <button mat-button (click)="logoutUser()">
    <mat-icon>logout</mat-icon><span class="label">Log out</span>
  </button>
</mat-toolbar>
