<app-navigation-bar></app-navigation-bar>
<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title class="movie-title">{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <div class="image-container">
      <img mat-card-image src="{{ movie.ImageURL }}" alt="{{ movie.Title }}" />
      <mat-card-actions>
        <button
          class="genre-button"
          mat-button
          (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
          color="primary"
        >
          Genre
        </button>
        <button
          class="director-button"
          mat-button
          (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Bio,
              movie.Director.BirthDate,
              movie.Director.DeathDate
            )
          "
          color="primary"
        >
          Director
        </button>
        <button
          class="synopsis-button"
          mat-button
          (click)="openSynopsisDialog(movie.Title, movie.Description)"
          color="primary"
        >
          Synopsis
        </button>
        <button
          mat-icon-button
          style="width: auto"
          color="primary"
          (click)="toggleFav(movie)"
        >
          <mat-icon
            *ngIf="!isFav(movie)"
            style="transform: scale(1.5)"
            color="primary"
            >favorite_border</mat-icon
          >
          <mat-icon
            *ngIf="isFav(movie)"
            style="transform: scale(1.5)"
            color="primary"
            >favorite</mat-icon
          >
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
