.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  padding: 8px;
  justify-content: center;
  margin-top: 11vh;
}
.movie-card {
  background-color: rgb(0, 0, 0);
  margin: 40px;
  width: 400px;
  height: 600px;
  border-radius: 5%;
}
.movie-title {
  font-size: 24px;
}
.image-container {
  width: 100%;
  height: 80%;
}
.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: 100% 0;
}
.card-header {
  margin-bottom: 5px;
  height: 20%;
  align-items: center;
}
.genre-button, .director-button, .synopsis-button {
  font-size: 18px;
  text-align: center;
  margin: auto;
  padding: auto;
}
