<h2 mat-dialog-title>Create an account</h2>
<form class="dialog-form" (ngSubmit)="registerUser()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="userData.Username" name="Username" type="text" autocomplete="username" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="userData.Password" name="Password" type="password" autocomplete="new-password" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="userData.Email" name="Email" type="email" autocomplete="email" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput [(ngModel)]="userData.Birthday" name="Birthday" type="date" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit">Sign up</button>
  </mat-dialog-actions>
</form>
